In [34]:
import warnings
warnings.filterwarnings("ignore")

In [22]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/MLOps/casas.csv')
df.head()

    area  modelo  estacionamiento  precio
0  159.0    2003                2  208500
1  117.0    1976                2  181500
2  166.0    2001                2  223500
3  160.0    1915                3  140000
4  204.0    2000                3  250000

In [23]:
df = df[['area','precio']]
df.head()

    area  precio
0  159.0  208500
1  117.0  181500
2  166.0  223500
3  160.0  140000
4  204.0  250000

In [24]:
X = df[['area']]
y = df.precio

In [25]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
X_train.head()

In [26]:
from sklearn.linear_model import LinearRegression

modelo = LinearRegression()
modelo.fit(X_train, y_train)

LinearRegression()

3.2

In [27]:
modelo.coef_

array([1084.75077747])

In [28]:
modelo.intercept_

27206.968559935078

In [35]:
modelo.predict([[120]])

array([157377.06185642])

3.3

In [36]:
df = pd.read_csv('/content/drive/MyDrive/MLOps/casas.csv')
X = df.drop(columns='precio',axis=1)
y = df.precio
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
modelo = LinearRegression()
modelo.fit(X_train, y_train)

LinearRegression()

In [37]:
modelo.predict([[120,2001,2]])

array([191436.53503831])

4.1

In [ ]:
{
    "area":120,
    "modelo":2001,
    "estacionamiento":2
}

4.2

In [38]:
import pickle

pickle.dump(modelo,open('modelo.sav','wb'))

In [40]:
import sklearn

sklearn.__version__

'1.0.2'

4.3

In [42]:
#! pip install flask_basicauth